<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github API Show Page</title>
</head>

<body>
    <div>
        <b><h1><%= user %>'s <%= repos %></h1></b>
            <!-- List of open Pull requests -->
            <h4>Open Pull requests for this Repo: </h4><br/>
                <% for(let i = 0; i < apiResponse.length; i++) { %>
                    <b>Pull Name:</b> <%= apiResponse[i].title %><br/>
                    <b>Status:</b> <%= apiResponse[i].state %><br/>
                    <b>Opened by:</b> <% apiResponse[i].user.login %><br/><!-- The user that opened the pull request -->
                        <form action="/githubapi/details" method="GET" name="query" value="<%= apiResponse[i].url %>">
                            <button type="submit">See this Pull Request</button>
                        </form>
                <% } %> <br />
    </div>
</body>
</html>

